html, body {
    cursor: url("cursor.png"), default;
    height:100%;
}

html* {
    font-family: "Comic Sans MS", Comic Sans", cursive;
}


#indexlogo{
	width:30%;
}
#tit{
	display:flex;
	text-align: center;
	width:100%;
	justify-content: center;
	color:#69f5f4;
} 
#t2{
	color:#4bd3d1;
}
#l1{
	color:#54d24b;
}
#l2{
	color:#edf262;
}
#l3{
	color:#51ee97;
}
#l4{
	color:#93c3eb;
}
#l5{
	color:#ff4751;
}
body{
	background:url(spinnysaus.gif) repeat;
	background-color:#f69260;
	height:100%;
}
h2{
	display:flex;
	text-align: center;
	width:100%;
	justify-content: center;
	font-size:2em;
} 

h1{
	display:flex;
	text-align: center;
	width:100%;
	justify-content: center;
	font-size: 3em;
} 

#arch{
	display:flex;
	text-align: center;
	width:100%;
	justify-content: center;
}
img{
	max-width:100%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}

